<div ng-include src="'html/top_menu.html'"></div>
<div  ng-show="showPage == 'MAIN'" class="row form-group scrollable-default" style="max-height:78vh; overflow-y: auto;  padding-bottom: 10vh;" scrolly="loadList()" >
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5" style="margin-top: 0px;"><div id='content'><h2 class='topic'>จัดการยานพาหนะ</h2></div></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <caption class=""><button class="btn btn-primary pull-left" ng-click="showUpdatePage(-1, null)"><span class="glyphicon glyphicon-plus"></span> เพิ่มประเภทยานพาหนะ</button></caption>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>แก้ไข / ลบ</th>
                                <th>ยี่ห้อ</th>
                                <th>รุ่น</th>
                                <th>ประเภทรถ</th>
                                <th>ทะเบียน</th>
                                <th>พื้นที่</th>
                                <th>เจ้าหน้าที่ดูแล</th>
                                <th>สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in DataList">
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm " ng-click="showUpdatePage($index, data)"><span class="glyphicon glyphicon-edit"></span></button>
                                    <!--<button type="button" class="btn btn-danger btn-sm " ng-click="confirmDelete($index, data.CarID)"><span class="glyphicon glyphicon-trash"></span></button>-->
                                </td>

                                <td>
                                    {{data.Brand}}
                                </td>
                                <td>
                                    {{data.Model}}
                                </td>

                                <td>
                                    {{data.cartype}}
                                </td>
                                <td>
                                    {{data.License}} {{data.LicenseProvinceName}}
                                </td>

                                <td>
                                    {{data.RegionName}}
                                </td>
                                <td>
                                    {{data.car_admin_firstname}}  {{data.car_admin_lastname}}
                                </td>
                                <td>
                                    <!--<span class="glyphicon glyphicon-check" ng-show="data.ActiveStatus == 'Y'"></span>
                                    <span class="glyphicon glyphicon-remove" ng-show="data.ActiveStatus == 'N'"></span>-->
                                    <img src="img/checked.png" ng-show="data.ActiveStatus == 'Y'" style="width: 20px;" />
                                    <img src="img/unchecked.png" ng-show="data.ActiveStatus == 'N'" style="width: 20px;" />
                                </td>


                            </tr>
                        </tbody>
                    </table>
                    <div class="col-lg-12" style="text-align:center;" ng-show="tableLoad"><img src="img/ellipsis.gif"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="showPage == 'UPDATE'" class="row scrollable-default" style="max-height:100%; overflow-y: auto; padding-bottom: 10vh;" ng-form="updateForm">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5" style="margin-top: 0px;">
                <div id='content'>
                    <h2 class='topic' ng-show="Car.CarID == ''">เพิ่มข้อมูลยานพาหนะ</h2>
                    <h2 class='topic' ng-show="Car.CarID != ''">แก้ไขข้อมูลยานพาหนะ</h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="panel panel-info" style="width: 100%; margin-top: -20px;">
                <div class="panel-heading">
                    <h4><b>ข้อมูลยานพาหนะ</b></h4>
                </div>
                <div class="panel-body">
                    <div class="col-lg-7">


                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                อ.ส.ค. 
                            </label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="Car.RegionID" ng-options="region.RegionID as region.RegionName for region in RegionList" required="true" ng-class="{required_field:Car.RegionID == ''}">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                *ประเภทรถ
                            </label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="Car.CarTypeID" ng-options="Car.CarTypeID as (Car.CarType+' '+Car.SeatAmount+' ที่นั่ง') for Car in Cartype" required="true" ng-class="{required_field:Car.CarTypeID == ''}">
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                ยี่ห้อ
                            </label>
                            <div class="col-lg-10">
                                <input  class="form-control" ng-model="Car.Brand" required="true" ng-class="{required_field:Car.Brand == ''}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                รุ่น
                            </label>
                            <div class="col-lg-10">
                                <input  class="form-control" ng-model="Car.Model" required="true" ng-class="{required_field:Car.Model == ''}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                ทะเบียน
                            </label>
                            <div class="col-lg-10">
                                <input  class="form-control" ng-model="Car.License" required="true" ng-class="{required_field:Car.License == ''}" maxlength="10">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                จังหวัด
                            </label>
                            <div class="col-lg-10">
                                <select  class="form-control" ng-model="Car.LicenceProvince" ng-options="Province.ProvinceID as Province.ProvinceName for Province in ProvinceList" required="true" ng-class="{required_field:Car.LicenseProvince == ''}">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                ภาพยานพาหนะ 
                                <br>
                                (.png,.jpg,.raw ขนาดไม่เกิน 5 MB)
                            </label>
                            <div class="col-lg-5">
                                <div class="btn btn-default" ngf-select ng-model="fileimg" name="fileimg" accept="image/*" ngf-max-size="5MB" ngf-pattern="'.png,.jpg,.raw'" ngf-model-invalid="invalidMainImgFile">Select Picture</div>
                            </div>
                            <div class="col-lg-3">
                                <img ngf-thumbnail="fileimg" style="max-width: 100%">
                                <div class="file-alert" ng-show="invalidMainImgFile.$error === 'maxSize'">ขนาดไฟล์ต้องไม่เกิน : {{invalidMainImgFile.$errorParam}}</div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                รายละเอียด
                            </label>
                            <div class="col-lg-10">
                                <textarea  class="form-control" ng-model="Car.Description"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                สถานะ
                            </label>
                            <div class="col-lg-10">
                                <div class="btn-group">
                                    <label class="btn btn-default btn-checkbox" ng-model="Car.ActiveStatus" uib-btn-radio="'Y'">ใช้งาน</label>
                                    <label class="btn btn-default btn-checkbox" ng-model="Car.ActiveStatus" uib-btn-radio="'N'">ไม่ใช้งาน</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <img src="{{Car.CarPicture}}" style="max-width: 100%">
                        <img ngf-thumbnail="fileimg" style="max-width: 100%" ng-show="fileimg != ''">
                        <br />
                      

                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="panel panel-info" style="width: 100%; margin-top: -20px;">
                <div class="panel-heading">
                    <h4><b>ข้อมูลเจ้าหน้าที่</b></h4>
                </div>
                <div class="panel-body">
                    <div class="col-lg-7">

                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                เจ้าหน้าที่ดูแลยานพาหนะ
                            </label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-model="Car.car_admin_name" uib-typeahead="user for user in searchUserAutoComplete($viewValue, 'USER') | limitTo:20" typeahead-on-select="autocompleteUserSelected($item, $model, $label, 'CAR')" required="true" ng-class="{required_field:Car.car_admin_name == '' || Car.car_admin_name == null}" ng-keyup="checkEmptyField('', Car.car_admin_name)" ng-paste="$event.preventDefault()">
                                <input type="hidden" ng-model="Car.CarAdminID" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-lg-2 form-control-static">
                                หมายเลขโทรศัพท์
                            </label>
                            <div class="col-lg-4">
                                <input class="form-control" ng-model="Car.car_admin_Mobile" readonly="true" style="background-color: #ccc;">
                            </div>
                            <label class="col-lg-2 form-control-static">
                                E-mail
                            </label>
                            <div class="col-lg-4">
                                <input class="form-control" ng-model="Car.car_admin_email" readonly="true" style="background-color: #ccc;">
                            </div>
                        </div>



                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-lg-12 obj_center">
                        <button class="btn btn-default" ng-click="showPage = 'MAIN'"><span class="glyphicon glyphicon-arrow-left"></span> กลับ</button>
                        <button class="btn btn-primary" ng-click="upload(fileimg)" ng-disabled="!updateForm.$valid"><span class="glyphicon glyphicon-floppy-disk"></span> บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'html/footer.html'"></div>
<style>
    #main_div_app{

    }
</style>