<div ng-include src="'html/top_menu.html'"></div>
<div class="row form-group" style="overflow-x: hidden; padding-bottom: 0vh;">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-5" style="margin-top: 0px;"><div id='content'><h2 class='topic'>จัดการการเชื่อมโยง</h2></div></div>
		</div>
		<div class="row" style="padding-bottom: 10vh; ">
			<div class="col-lg-12">
				<div class="row form-group">
					<div class="col-lg-2">
						<button class="btn btn-primary" ng-click="newLink()"><span class="glyphicon glyphicon-plus"></span> เพิ่มลิ้งค์</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-3 col-xs-12" ng-repeat="data in DataList" style="border: 1px #ccc solid; padding: 1vh; height: 250px;">
						<div class="row">
							<div class="col-lg-2">
								<button class="btn btn-primary" ng-click="updateLink($index, data)" ng-disabled="data.LinkTopic == '' || data.LinkUrl == ''"><span class="glyphicon glyphicon-floppy-disk"></span></button>
								<button class="btn btn-danger" ng-click="removeLink($index, data.LinkID)"><span class="glyphicon glyphicon-trash"></span></button>
								<button class="btn btn-default" ng-click="goLinkPermission(data.LinkID)"><span class="glyphicon glyphicon-wrench"></span></button>
							</div>
							<div class="col-lg-10">
								<div class="row form-group">
									<label class="col-lg-2 form-control-static">หัวข้อ </label>
									<div class="col-lg-10" >
										<input type="text" class="form-control" ng-model="data.LinkTopic" />
									</div>
								</div>
								<div class="row form-group">
									<label class="col-lg-2 form-control-static">URL </label>
									<div class="col-lg-10" >
										<input type="text" class="form-control" ng-model="data.LinkUrl" />
									</div>
								</div>
								<div class="row form-group">
									<label class="col-lg-2 form-control-static">Icon </label>
									<div class="col-lg-2" >
										<button class="btn btn-default" ngf-select ng-model="data.UploadFile" accept="image/*" ngf-max-size="1MB" ngf-pattern="'.png,.jpg,.gif'">เลือก</button>
									</div>
									<div class="col-lg-2">
										<img src="{{data.LinkIcon}}" style="max-width: 100%" ng-show="data.LinkIcon != '' && data.UploadFile == null">
										<img ngf-thumbnail="data.UploadFile" style="max-width: 100%" ng-show="data.UploadFile != ''">
									</div>
									<div class="col-lg-2">
										
									</div>
								</div>
								<div class="row form-group">
									<label class="col-lg-2 form-control-static">สถานะ </label>
									<div class="col-lg-10" >
										<div class="btn-group">
											<label class="btn btn-default btn-checkbox" ng-model="data.LinkStatus" uib-btn-radio="'Y'" ng-click="checkLimitDisplay()">ใช้</label>
						                    <label class="btn btn-default btn-checkbox" ng-model="data.LinkStatus" uib-btn-radio="'N'" ng-click="checkLimitDisplay()">ไม่ใช้</label>
						                </div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'html/footer.html'"></div>