<div ng-include src="'html/top_menu_admin.html'"></div>
<div class="row form-group scrollable-default" style="max-height:78vh; overflow-y: auto;  padding-bottom: 10vh;" scrolly="loadData(condition)">
	<div class="col-md-12 col-xs-12">
		
		<div class="page-header text-center"><h3>รายชื่อผู้ลงทะเบียน</h3></div>
		<div class="row form-group">
			<div class="col-lg-3">
			    <input type="text" id="keyword" ng-model="condition.keyword" class="form-control" placeholder="ชื่อ - สกุล / หมายเลขบัตร / เบอร์โทรศัพท์">
		  	</div>
			<div class="col-lg-6">
				<form class="form-inline">
					<div class="form-group">
					    <label for="registerType">&nbsp; ช่องทางการลงทะเบียน : </label>
					    &nbsp; <select id="registerType" class="form-control" ng-model="condition.registerType">
							<option value="">ทั้งหมด</option>
							<option value="SYSTEM">ล่วงหน้าผ่านระบบ</option>
							<option value="MANUAL">ลงทะเบียนหน้างาน</option>
						</select>
				  	</div>
				  	<div class="form-group">
					    <button type="button" class="btn btn-primary"  ng-click="search(condition)" ng-disabled="DisabledSearch"><span class="glyphicon glyphicon-search"></span> ค้นหา</button>
				  	</div>
				</form>
			</div>
			<div class="col-lg-3">
				จำนวนผู้ลงทะเบียนทั้งหมด <b>{{totalData}}</b> คน
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<div class="table-responsive">
					<!--<caption class=""><button class="btn btn-info pull-left" ng-click="editProfile(currentUser.UserID)" style="font-size: 1em;"><span class="glyphicon glyphicon-edit"></span> แก้ไขสมุดโทรศัพท์ของคุณ</button></caption>-->
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>ทำแบบประเมิน</th>
								<th>วันที่ลงทะเบียน</th>
								<th>ชื่อ - สกุล</th>
								<th>หมายเลขบัตรประชาชน</th>
								<th>เบอร์โทรศัพท์</th>
								<th>ช่องทางลงทะเบียน</th>
								<th>สถานะการทำแบบประเมิน</th>
								<th>รับของรางวัล</th>
								<th>ประเภทของ</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in DataList">
								<td>
									<button class="btn btn-info"  ng-click="goEvaluateAdmin(data.UserID, 'GOYOUNGER')" ng-show="data.Evaluate == null"><= 15</button>
									<button class="btn btn-warning"  ng-click="goEvaluateAdmin(data.UserID, 'GOOLDER')" ng-show="data.Evaluate == null">> 15</button>
								</td>
								<td>
									{{data.CreateDate }}
								</td>
								<td>
									<a ng-click="viewProfile($index, data)">{{data.Firstname + ' ' + data.Lastname}}</a>
								</td>
								<td>
									{{data.IDCard}}
								</td>
								<td>
									{{data.Mobile}}
								</td>
								<td>
									{{data.RegisterType=='SYSTEM'?'ล่วงหน้าผ่านระบบ':'ลงทะเบียนหน้างาน'}}
								</td>
								<td style="text-align: center;">
									<!--<label class="switch">
									  <input type="checkbox" ng-model="data.Evaluate" ng-true-value="'Y'" ng-false-value="''" ng-click="confirmChangeEvaluate(data.UserID, data.Evaluate, $index)">
									  <span class="slider round"></span>
									</label>-->
									<span class="glyphicon glyphicon-ok" ng-show="data.Evaluate == 'Y'"></span>
								</td>
								<td>
									<label class="switch">
									  <input type="checkbox" ng-model="data.Rewards" ng-true-value="'Y'" ng-false-value="''" ng-click="confirmChangeRewards(data.UserID, data.Rewards, $index)" ng-disabled="currentUser.AdminType == 'NORMAL' && data.Rewards == 'Y'">
									  <span class="slider round"></span>
									</label>
								</td>
								<td>{{data.RewardType}}</td>
							</tr>
						</tbody>
					</table>
					<div class="col-lg-12" style="text-align:center;" ng-show="tableLoad"><img src="img/ellipsis.gif"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 visible-xs visible-sm card" ng-repeat="data in DataList">
		<button type="button" class="btn btn-default btn-sm " ng-click="viewContact($index, data)"><span class="glyphicon glyphicon-user" style="color:#3D9AE1;"></span></button>
		<span class="glyphicon glyphicon-star" ng-show="data.Star == 'Y'" style="color: #F2B742;"></span>
		<br>
		พื้นที่ : {{data.RegionName}}
		<br>
		หน่วยงาน : {{data.orgName}}
		<br>
		ชื่อ - สกุล : {{data.FirstName + ' ' + data.LastName}}
	</div>
</div>
<script type="text/ng-template" id="view_profile.html">
	<div class="modal-header">
        <div class="row">
            <div class="col-lg-1">
            	<i class="glyphicon glyphicon-user" style="color:#3D9AE1;"></i>
            </div>
            <div class="col-lg-10">
            	<b>ข้อมูลผู้ลงทะเบียน</b>
            </div>
        </div>
	</div>
	<div class="modal-body">

	   <div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">หมายเลขบัตร ปชช.</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.IDCard}}</div>	
	   </div>
	   <div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">ชื่อผู้ใช้ WIFI</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.wifi.WifiUser}}</div>
	   </div>
	   <div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">รหัส WIFI</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.wifi.WifiPassword}}</div>
	   </div>
	   <div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">ชื่อ - สกุล</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.Firstname + ' ' + Contact.Lastname}}</div>
	   </div>
	   <div class="row">
	   		<label class="col-lg-3  col-sm-5 col-xs-12 form-control-static">อีเมล</label>
	   		<div class="col-lg-9  col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.Email}}</div>
	   </div>
	   <div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">เบอร์โทรศัพท์มือถือ</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.Mobile}}</div>
	   </div>
	   <div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">ที่อยู่</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">
	   			บ้านเลขที่ &nbsp; {{Contact.AddressNo}} &nbsp; หมู่ &nbsp; {{Contact.Moo}} &nbsp; 
	   			<br>ถนน &nbsp; {{Contact.Street}} &nbsp; ซอย &nbsp; {{Contact.Soi}} &nbsp; 
	   			<br>แขวง / ตำบล &nbsp; {{Contact.District}} &nbsp; เขต / อำเภอ &nbsp; {{Contact.SubProvince}} 
	   			<br>จังหวัด &nbsp; {{Contact.Province}} &nbsp; รหัสไปรษณีย์ &nbsp; {{Contact.Postcode}}
	   		</div>
	   </div>
	   <div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">ช่องทางการลงทะเบียน</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.RegisterType=='SYSTEM'?'ล่วงหน้าผ่านระบบ':'ลงทะเบียนหน้างาน'}}
	   		</div>
	   	</div>	
		<div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">วันที่ลงทะเบียน</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">{{Contact.CreateDate}}
	   		</div>
	   	</div>	
	   	<div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">ประเภทของรางวัล</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">
	   			<select class="form-control" ng-model="Contact.RewardType">
	   				<option value="">กรุณาเลือก</option>
	   				<option value="PREMIUM">Premium</option>
	   				<option value="NORMAL">Normal</option>
	   			</select>
	   		</div>
	   	</div>	
	   	<div class="row">
	   		<label class="col-lg-3 col-sm-5 col-xs-12 form-control-static">วันที่รับของรางวัล</label>
	   		<div class="col-lg-9 col-sm-7 col-xs-12 form-control-static" style="font-weight: lighter;">
	   			{{Contact.RewardDate}}
	   		</div>
	   	</div>	
	</div>
	<div class="modal-footer">
    <!--<button class="btn btn-default" ng-click="ok(Contact)">Confirm</button>-->
	<button class="btn btn-default" ng-click="ok(Contact)">Close</button>
	</div>
</script>
<style type="text/css" media="screen">
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}	
</style>