<div ng-include src="'html/top_menu_admin.html'"></div>
<div class="row">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		จำนวนผู้ลงทะเบียนในระบบทั้งสิน {{CountRegister}} คน
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		ทำแบบสอบถามทั้งสิ้น {{CountEvaluate}} คน
	</div>
</div>
<div class="row">
	<label class="form-control-static col-lg-1 col-lg-offset-5">
		ปีแบบสอบถาม
	</label>
	<div class="col-lg-1 text-center">
		<select class="form-control" ng-model="condition.years" ng-options="data.yearValue as data.yearValue for data in YearList">
			
		</select>
	</div>

</div>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		<button class="btn btn-primary" ng-click="exportExcel(condition)">รายงานสรุปแบบประเมิน</button>
	</div>
</div>
