<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>
<div class="container-eg">
<form name="myForm" ng-show="step == 1">
    <div class="profile profile--open">
        <div class="profile__form">
            <div class="page-header obj_center">
                <img src="img/dpo_logo_only.png" alt="Avatar" style="max-width: 126px;" /> 
                <h1><b>Reset Password</b></h1>
                <b>กรอกชื่อผู้ใช้งาน</b>
            </div>
            <div class="profile__fields">
              <div class="field">
                <input type="text" name="username" id="fieldUser" ng-model="ForgotPassword.Username" required class="input">
                <label for="fieldUser" class="label">Username</label>
                
              </div>
            </div>
            <div class="profile__footer">
              <div class="form-group">
                <button ng-click="verifyUsername(ForgotPassword.Username)" ng-disabled="myForm.$invalid" class="btn btn-info btn-block">ตรวจสอบ</button>
                <br>
              </div>
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div ng-show="showUsernameError" class="alert alert-danger">Username not found</div>
              </div>
            </div>
            
          </div>
          <div class="row">
            
          </div>
      
    </div>
</form>

<form name="OtpForm" ng-show="step == 2">
    <div class="profile profile--open">
      
        <div class="profile__form">
            <div class="page-header obj_center">
                <img src="img/dpo_logo_only.png" alt="Avatar" style="max-width: 126px;" /> 
                <h1><b>Reset Password</b></h1>
                <a role="button" ng-click="requestOTP(ForgotPassword.Username)"><span class="glyphicon glyphicon-phone"></span> <b>รับรหัส OTP</b></a>
            </div>
            <div class="profile__fields">
              <div class="field">
                <input type="password" id="OTP" name="OTP" ng-model="ForgotPassword.OTP" required class="input" >
                <label for="OTP" class="label">OTP</label>

            </div>
            <div class="profile__footer">
              <div class="form-group">
                <button ng-click="verifyOTP(ForgotPassword.OTP)" ng-disabled="OtpForm.$invalid" class="btn btn-info btn-block">ตรวจสอบ OTP</button>
                <br>
              </div>
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div ng-show="showOTPError" class="alert alert-danger">Cannot send OTP Please try again !</div>
                <div ng-show="showOTPNotify" class="alert alert-success">Otp has been sent ! (5 Minutes life time)</div>
                <div ng-show="showOTPNotfound" class="alert alert-danger">Invalid OTP</div>
              </div>
            </div>
            
          </div>
          <div class="row">
            
          </div>
      
    </div>
  </div>
</form>

<form name="PasswordForm" ng-show="step == 3">
    <div class="profile profile--open">
      
        <div class="profile__form">
            <div class="page-header obj_center">
                <img src="img/dpo_logo_only.png" alt="Avatar" style="max-width: 126px;" /> 
                <h1><b>Reset Password</b></h1>
                <b>ยืนยันการเปลี่ยนรหัสผ่าน</b>
            </div>
            <div class="profile__fields">
              <div class="field">
                <input type="password" id="NewPassword" name="NewPassword" ng-model="ForgotPassword.NewPassword" required class="input"  >
                <label for="NewPassword" class="label">New Password</label>
              </div>
            </div>
            <div class="profile__fields">
              <div class="field">
                <input type="password" name="ConfirmNewPassword" ng-model="ForgotPassword.ConfirmNewPassword" required class="input">
                <label for="NewPassword" class="label">Confirm New Password</label>
                
              </div>
            </div>
            <div class="profile__footer">
              <div class="form-group">
                <button ng-click="changePassword(ForgotPassword)" ng-disabled="PasswordForm.$invalid || ForgotPassword.ConfirmNewPassword != ForgotPassword.NewPassword" class="btn btn-info btn-block">เปลี่ยนรหัสผ่าน</button>
                <br>
              </div>
              <div class="col-lg-12 col-sm-12 col-xs-12">
                <div ng-show="showChangePassSuccess" class="alert alert-success">Change password success</div>
                <div ng-show="ForgotPassword.ConfirmNewPassword != ForgotPassword.NewPassword" class="alert alert-danger">Password not match!</div>
              </div>
            </div>

          </div>
          <div class="row">
            
          </div>
      
    </div>
</form>
</div>
<style>
    /* Base styles */
*, *:after, *:before {
  box-sizing: border-box;
}
html {
  line-height: 1.5;
  height: 100%;
  font-weight: lighter;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  color: #777;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* Container */
.container-eg {
  position: absolute;
  width: 24em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* Profile Card */
.profile {
  position: relative;
}
.profile--open {
}
.profile--open .profile__form {
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(-6em);
  padding-top: 12em;
}
.profile--open .profile__fields {
  opacity: 1;
  visibility: visible;
}
.profile--open .profile__avatar {
  transform: translate(-50%, -1.5em);
  border-radius: 50%;
}
.profile__form {
  position: relative;
  background: white;
  
  opacity: 0;
  height: 0;
  padding: 3em;
  border-radius: .25em;
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
  transition: 
    opacity .4s ease-in-out,
    height .4s ease-in-out,
    transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__fields {
  opacity: 0;
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.25em;
  overflow: hidden;
  width: 7em;
  height: 7em;
  display: block;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}
.profile__avatar:focus {
  outline: 0;
}
.profile__footer {
  padding-top: 1em;
}


/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}
.label {
  left:0px;
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  color: #999;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-weight: 400;
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: #777;
  transition: all .2s ease-in;
}
.input:focus {
  outline: 0;
  border-color: #ccc;
}
.alert{
  padding: 7px;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus + .label,
input:valid + .label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: #ccc;
}

/* Button */


/* Intro animation */
@keyframes intro {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
    </style>